<div class="">
  <h3>Orden de produccion</h3>
  <form>

    <div class="form-row">

      <div class="col-md-6">
        <label for="cliente">Cliente</label>
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="orden_produccion.cliente" class="form-control" name="cliente" id="cliente" placeholder="Cliente">
        </div>
      </div>

      <div class="col-md-6">
        <label for="prioridad">Prioridad</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="orden_produccion.prioridad" name="prioridad" id="prioridad" placeholder="prioridad">
            <option *ngFor="let item of prioridades; index as i" [value]="item">{{item}}</option>            
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="referencia">Referencia</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="orden_produccion.referencia" name="referencia" id="referencia" placeholder="referencia">
            <option *ngFor="let item of referencias; index as i" [value]="item">{{item}}</option>            
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="tipo">Tipo</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="orden_produccion.tipo" name="tipo" id="tipo" placeholder="tipo">
            <option *ngFor="let item of tipos; index as i" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="presentacion">Presentacion</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="orden_produccion.presentacion" name="presentacion" id="presentacion" placeholder="presentacion">
            <option *ngFor="let item of presentaciones; index as i" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="cantidad">Cantidad</label>
        <div class="input-group mb-3 ">
          <input type="number" min="1" class="form-control" [(ngModel)]="orden_produccion.cantidad" name="cantidad" id="cantidad" placeholder="Cantidad">
          <div class="input-group-append">
            <span class="input-group-text">UND</span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Generar Orden</button>
  </form>
</div>