
<div class="col-sm-8">  
<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Referencia</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Shampoo</option>
      <option>Acondicionador</option>      
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Lisos</option>
      <option>Rizos</option>
      <option>Duos</option>      
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Presentacion</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>400 ml</option>
      <option>200 ml</option>      
    </select>
  </div>
  <label for="Cantidad">Cantidad</label>
  <div class="input-group mb-3 ">
    <input type="number" min="1" class="form-control" id="Cantidad" placeholder="Cantidad">
    <div class="input-group-append">
      <span class="input-group-text">UND</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Generar Orden</button>
</form>
</div>