<div class="">
  <h3>Orden de produccion</h3>
  <form>

    <div class="form-row">

      <div class="col-md-6">
        <label for="cliente">Cliente</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="cliente" placeholder="Cliente">
        </div>
      </div>

      <div class="col-md-6">
        <label for="prioridad">Prioridad</label>
        <div class="input-group mb-3">
          <select class="form-control" id="prioridad">
            <option>Alta</option>
            <option>Media</option>
            <option>Baja</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="referencia">Referencia</label>
        <div class="input-group mb-3">
          <select class="form-control" id="referencia">
            <option>Shampoo</option>
            <option>Acondicionador</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="tipo">Tipo</label>
        <div class="input-group mb-3">
          <select class="form-control" id="tipo">
            <option>Lisos</option>
            <option>Rizos</option>
            <option>Duos</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="presentacion">Presentacion</label>
        <div class="input-group mb-3">
          <select class="form-control" id="presentacion">
            <option>400 ml</option>
            <option>200 ml</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="cantidad">Cantidad</label>
        <div class="input-group mb-3 ">
          <input type="number" min="1" class="form-control" id="cantidad" placeholder="Cantidad">
          <div class="input-group-append">
            <span class="input-group-text">UND</span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Generar Orden</button>
  </form>
</div>