<h3>Ordenes Produccion</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Prioridad </th>
      <th scope="col">Referencia</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentacion</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Lotes ejecutado</th>
      <th scope="col">Lotes totales</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha terminado</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orden of ordenes_produccion; index as i">
      <th scope="row">{{ orden.id }}</th>
      <td>{{ orden.orden_pedido.cliente }}</td>
      <td>{{ orden.orden_pedido.prioridad.descripcion}}</td>
      <td>{{ orden.orden_pedido.referencia_producto.descripcion }}</td>
      <td>{{ orden.orden_pedido.tipo_producto.descripcion }}</td>
      <td>{{ orden.orden_pedido.presentacion_producto.descripcion }}</td>
      <td>{{ orden.cantidad }} Ton</td>      
      <td>{{ orden.lotes_ejecutados }} </td>      
      <td>{{ orden.lotes_totales  }} </td>      
      <td>{{ orden.fecha_inicio || 'N/A'}} </td>      
      <td>{{ orden.fecha_terminado || 'N/A' }} </td>      
      <td>
        <span [class]="colorBadgeEstadoOrden(orden.orden_pedido.estado)">{{ orden.orden_pedido.estado }}</span>
      </td>
    </tr>
  </tbody>