<div class="row">
    <form class="form-inline" [formGroup]="parkingTicketForm" (ngSubmit)="sendParkingTicket()" >
        <div class="form-group col-sm-3">
            <label for="placa" class="sr-only">Placa</label>
            <input type="text" class="form-control" id="placa" value="" placeholder="Placa"
                formControlName="LicensePlate" required />
        </div>
        <div class="form-group col-sm-3">
            <label for="tipoVehiculo" class="sr-only">Tipo Vehiculo</label>
            <select id="tipoVehiculo" class="form-control" formControlName="VehicleType" placeholder="Tipo vehiculo"
                required>
                <option value="-1" disabled selected hidden>Tipo Vehiculo</option>
                <option *ngFor="let vehicleType of vehicleTypes" value="{{vehicleType.value}}">
                    {{ vehicleType.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="cilindraje" class="sr-only">Cilindraje</label>
            <input type="number" class="form-control" id="cilindraje" placeholder="Cilindraje"
                formControlName="Displacement" />
        </div>
        <br />
        <div class="form-group col-3">
            <button type="submit" class="btn btn-primary">
                Register Ticket
            </button>
        </div>
    </form>
</div>