<form>
  <div class="">
    <div class="form-group col-md-6" *ngFor="let materiaPrima of formula.materias_primas, index as i">
      <label [for]="'cantidad_materia_prima_'+i">Cantidad Materia Prima {{i}}</label>
      <div class="input-linea-button">
        <input type="number" min="1" [(ngModel)]="formula.materias_primas[i]" [name]="'cantidad_materia_prima_'+i"
          class="form-control" [id]="'cantidad_materia_prima_'+i" [placeholder]="'Cantidad Materia Prima '+i">
        <button type="button" class="btn btn-danger">borrar</button>
      </div>
    </div>
    <button type="button" class="btn btn-success">
      Agregar Materia Prima
    </button>
  </div>
  <hr size="10">
  <div class="form-row">

    <div class="col-md-6">
      <label for="tiempo_premezclado">Tiempo premezclado</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="tiempo_premezclado" placeholder="Tiempo premezclado">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="temperatura_precalentamiento">Temperatura precalentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="temperatura_precalentamiento"
          placeholder="Temperatura precalentamiento">
        <div class="input-group-append">
          <span class="input-group-text">ºC</span>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <label for="tiempo_precalentamiento">Tiempo precalentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="tiempo_precalentamiento"
          placeholder="Tiempo precalentamiento">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="tiempo_mezclando">Tiempo Mezclando</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="tiempo_mezclando" placeholder="Tiempo Mezclando">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="temperatura_calentamiento">Temperatura Calentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="temperatura_calentamiento"
          placeholder="Temperatura Calentamiento">
        <div class="input-group-append">
          <span class="input-group-text">ºC</span>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="guardarFormula()" class="btn btn-primary">Crear</button>
</form>

<h3>Formulas Referencias</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cantidad Materia Prima A</th>
      <th scope="col">Cantidad Materia Prima B</th>
      <th scope="col">Cantidad Materia Prima C</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formula of formulas">
      <th scope="row">1</th>
      <td>{{ formula.materias_primas}}</td>
      <td>{{ 'otrodatos' }}</td>
      <td>{{ 'otrodatos' }}</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>
        <ol>
          <li>Meteria prima A</li>
          <li>Meteria prima B</li>
        </ol>
      </td>
      <td>
        <ol>
          <li>50%</li>
          <li>20%</li>
        </ol>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>