<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cantidad_materia_prima_a">Cantidad Materia Prima A</label>
      <input type="number" min="1" [(ngModel)]="formula.cantidad_materia_prima_a" name="cantidad_materia_prima_a" class="form-control" id="cantidad_materia_prima_a"
        placeholder="Cantidad Materia Prima A">
    </div>
    <div class="form-group col-md-6">
      <label for="cantidad_materia_prima_b">Cantidad Materia Prima B</label>
      <input type="number" min="1" [(ngModel)]="formula.cantidad_materia_prima_b" name="cantidad_materia_prima_b" class="form-control" id="cantidad_materia_prima_b"
        placeholder="Cantidad Materia Prima B">
    </div>
    <div class="form-group col-md-6">
      <label for="cantidad_materia_prima_c">Cantidad Materia Prima C</label>
      <input type="number" min="1" [(ngModel)]="formula.cantidad_materia_prima_c" name="cantidad_materia_prima_c" class="form-control" id="cantidad_materia_prima_c"
        placeholder="Cantidad Materia Prima C">
    </div>
    <div class="col-md-6">
      <label for="tiempo_premezclado">Tiempo premezclado</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="tiempo_premezclado" placeholder="Tiempo premezclado">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="temperatura_precalentamiento">Temperatura precalentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="temperatura_precalentamiento"
          placeholder="Temperatura precalentamiento">
        <div class="input-group-append">
          <span class="input-group-text">ºC</span>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <label for="tiempo_precalentamiento">Tiempo precalentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="tiempo_precalentamiento"
          placeholder="Tiempo precalentamiento">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="tiempo_mezclando">Tiempo Mezclando</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="tiempo_mezclando" placeholder="Tiempo Mezclando">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="temperatura_calentamiento">Temperatura Calentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" class="form-control" id="temperatura_calentamiento"
          placeholder="Temperatura Calentamiento">
        <div class="input-group-append">
          <span class="input-group-text">ºC</span>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="guardarFormula()" class="btn btn-primary">Crear</button>
</form>

<h3>Formulas Referencias</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cantidad Materia Prima A</th>
      <th scope="col">Cantidad Materia Prima B</th>
      <th scope="col">Cantidad Materia Prima C</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formula of formulas">
      <th scope="row">1</th>
      <td>{{ formula.cantidad_materia_prima_a}}</td>
      <td>{{ formula.cantidad_materia_prima_b}}</td>
      <td>{{ formula.cantidad_materia_prima_c}}</td>
    </tr>
    <tr >
      <th scope="row">1</th>
      <td>
        <ol>
        <li>Meteria prima A</li>
        <li>Meteria prima B</li>
        </ol>
      </td>
      <td><ol>
        <li>50%</li>
        <li>20%</li>
      </ol></td>
      <td></td>
    </tr>
  </tbody>
</table>