<form>
  <div class="">
    <div class="form-row">
      <div class="col-md-6">
        <label for="referencia">Referencia</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="receta.referencia_producto_id" name="referencia_producto"
            id="referencia_producto">
            <option hidden value="" selected>Seleccionar referencia</option>
            <option *ngFor="let item of referencias; index as i" [value]="item['id']">{{item.descripcion}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="tipo">Tipo</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="receta.tipo_producto_id" name="tipo_producto" id="tipo_producto">
            <option hidden value="" selected>Seleccionar tipo</option>
            <option *ngFor="let item of tipos; index as i" [value]="item['id']">{{item.descripcion}}</option>
          </select>
        </div>
      </div>

    </div>
    <div class="form-row" *ngFor="let materiaPrima of receta.materias_primas, index as i">

      <div class="col-md-6">
        <label [for]="'nombre_materia_prima_'+i">Nombre Materia Prima {{i + 1}}</label>
        <div class="input-group mb-3 ">
          <select class="form-control" [(ngModel)]="receta.materias_primas[i].materia_prima_id"
            [name]="'nombre_materia_prima_'+(i + 1)" [id]="'nombre_materia_prima_'+i">
            <option hidden value="" selected>Seleccionar materia Prima</option>
            <option *ngFor="let item of materias_primas_seleccionar; index as i" [value]="item['id']">
              {{item.descripcion}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label [for]="'cantidad_materia_prima_'+i">Cantidad Materia Prima {{i + 1}}</label>
        <div class="input-group mb-3 ">
          <div class="input-linea-button">
            <input type="number" min="1" max="100" [(ngModel)]="receta.materias_primas[i].porcentaje"
              [name]="'cantidad_materia_prima_'+i" class="form-control" [id]="'cantidad_materia_prima_'+i"
              [placeholder]="'Cantidad Materia Prima '+ (i + 1)">
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
            <button *ngIf="receta.materias_primas.length > 1" type="button" class="btn btn-danger"
              (click)="borrarMateriaPrima(i)">borrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success" (click)="agregarMateriaPrima()">
    Agregar Materia Prima
  </button>
  <hr size="10">
  <div class="form-row">

    <div class="col-md-6">
      <label for="densidad">Densidad</label>
      <div class="input-group mb-3 ">
        <input type="number" min="0" [(ngModel)]="receta.densidad" class="form-control" name="densidad" id="densidad"
          placeholder="Densisdad">
        <div class="input-group-append">
          <span class="input-group-text">Ton/ml</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="tiempo_premezclado">Tiempo premezclado</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" [(ngModel)]="receta.tiempo_premezclado" class="form-control"
          name="tiempo_premezclado" id="tiempo_premezclado" placeholder="Tiempo premezclado">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="temperatura_precalentamiento">Temperatura precalentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" [(ngModel)]="receta.temperatura_precalentamiento" class="form-control"
          name="temperatura_precalentamiento" id="temperatura_precalentamiento"
          placeholder="Temperatura precalentamiento">
        <div class="input-group-append">
          <span class="input-group-text">ºC</span>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <label for="tiempo_precalentamiento">Tiempo precalentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" [(ngModel)]="receta.tiempo_precalentamiento" class="form-control"
          name="tiempo_precalentamiento" id="tiempo_precalentamiento" placeholder="Tiempo precalentamiento">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="tiempo_mezclado">Tiempo Mezclado</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" [(ngModel)]="receta.tiempo_mezclado" class="form-control" name="tiempo_mezclado"
          id="tiempo_mezclado" placeholder="Tiempo Mezclado">
        <div class="input-group-append">
          <span class="input-group-text">Min.</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="temperatura_calentamiento">Temperatura Calentamiento</label>
      <div class="input-group mb-3 ">
        <input type="number" min="1" [(ngModel)]="receta.temperatura_calentamiento" class="form-control"
          name="temperatura_calentamiento" id="temperatura_calentamiento" placeholder="Temperatura Calentamiento">
        <div class="input-group-append">
          <span class="input-group-text">ºC</span>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="guardarReceta()" class="btn btn-primary">Crear</button>
</form>

<h3>Recetas Referencias</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Materia Primas</th>
      <th scope="col">Cantidad Materia Primas </th>
      <th scope="col">Densidad</th>
      <th scope="col">Referencia </th>
      <th scope="col">Tipo</th>
      <th scope="col">Tiempo premezclado</th>
      <th scope="col">Temperatura precalentamiento</th>
      <th scope="col">Tiempo precalentamiento</th>
      <th scope="col">Tiempo mezclado</th>
      <th scope="col">Temperatura calentamiento</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receta of recetas; index as i">
      <th scope="row">{{ i + 1}}</th>
      <td>
        <ol>
          <li *ngFor="let item of receta.materias_primas; index as i">
            {{item.descripcion }}</li>
        </ol>
      </td>
      <td>
        <ol>
          <li *ngFor="let item of receta.materias_primas; index as i">{{item.MateriaPrimaReceta.porcentaje}}%</li>
        </ol>
      </td>
      <td>{{ receta.densidad }}</td>
      <td>{{ receta.referencia_producto.descripcion }}</td>
      <td>{{ receta.tipo_producto.descripcion }}</td>
      <td>{{ receta.tiempo_premezclado}}</td>
      <td>{{ receta.temperatura_precalentamiento }}</td>
      <td>{{ receta.tiempo_precalentamiento }}</td>
      <td>{{ receta.tiempo_mezclado }}</td>
      <td>{{ receta.temperatura_calentamiento }}</td>
      <td> <button class="btn btn-danger" (click)="borrarReceta(receta['id'])">Eliminar</button> </td>
    </tr>
  </tbody>
</table>